@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,600;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500&display=swap');

:root {
    --black-100: #2c2a2a;
    --black-50: #494b58;
    --white-100: #ffffff;
    --grey-50: #f8f8f8;
    --font-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
    --font-hind-sans: 'Hind', sans-serif;
}

body {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
}

.container {
    max-width: 1580px;
}

.mx-auto {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
    -ms-justify-content: flex-start;
    -moz-justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
    -ms-justify-content: flex-end;
    -moz-justify-content: flex-end;
}

.justify-center {
    justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
}

.item-center {
    align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
}

.w-full {
    max-width: 100%;
}

/* .w-50 = w-6/12 */
.w-50 {
    width: 50%;
}

/* .px-[20px] */
.px-20 {
    padding-left: 20px;
    padding-right: 20px
}

.logo-brand {
    width: 236px;
}

.img-responsive {
    max-width: 100%
}

.nav-menu {
    width: 100%;
    padding-left: 0px;
}

.nav-menu li {
    list-style: none
}

.nav-menu li a {
    padding: 8px 12px;
    font-family: var(--font-jakarta-sans);
    font-weight: 400;
    color: var(----black-50);
    text-decoration: none
}

/* SECTION HERO IMAGES START */
.hero-image {
    min-height: 420px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.section-satu {
    max-width: 100%;
}

.section-dua {
    max-width: 100%;
    padding: 36px 0px;
}

.w-40 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}

.w-50 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.w-60 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}

.image-collase {
    padding-left: 56px;
    padding-right: 56px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-text-hero {
    font-family: var(--font-hind-sans);
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    color: var(--black-50);
    padding-right: 240px;
}

.content-text-hero h1 {
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 32px;
    font-family: var(--font-jakarta-sans);
    font-weight: 800;
    letter-spacing: 0.15px;
    color: var(--black-100);
}

.content-infographic-hero {
    padding-right: 240px;
}

.card-infographic {
    margin-top: 32px;
    width: 258px;
    min-height: 258px;
    background: var(--grey-50);
    border-radius: 44px;
    font-family: var(--font-hind-sans);
    font-size: 25px;
    line-height: 33px;
    margin-right: 32px;
}

.card-infographic h4 {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 10px;
    font-family: var(--font-jakarta-sans);
    font-weight: 400;
    color: var(--black-100);
}

.text-center {
    text-align: center;
}



.right-hero-image .w-full {
    margin-top: 10px;
    margin-bottom: 10px;
}

.right-hero-image .w-full:first-child {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
    margin-top: 0px;
    /* order: 3; */
}

.right-hero-image .w-full:last-child {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    margin-bottom: 0px;
    /* order: 2; */
}

/* SECTION HERO IMAGES START */

@media only screen and (min-width: 1366px) and (max-width: 1366px) {
    /* css disini */
}

/* semua propeti css akan berjalah discreen dibawah 480px */

@media screen and (max-width : 480px) {

    .container {
        padding-left: 24px;
        padding-right: 24px;
    }

    .content-text-hero,
    .content-infographic-hero {
        padding-right: 0px;
    }

    .card-infographic {
        margin-left: 0px;
        margin-right: 0px;
        padding: 0;
    }

    .sm-w-43 {
        width: 43px;
        -ms-flex: 0 0 43px;
        flex: 0 0 43px;
        max-width: 43px;
    }

    .nav-menu li a {
        padding: 2px 0px;
    }

    .content-text-hero h1 {
        font-size: 64px;
        line-height: 76px;
    }


    .nav-menu li:nth-child(1) {
        display: none
    }

    .nav-menu li:nth-child(2) {
        display: none
    }

    .container {
        max-width: 100%;
    }

    .sm-w-full {
        width: 100%;
        max-width: 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .image-collase {
        padding-left: 0px;
        padding-right: 0px;
    }

    .sm-order-1 {
        order: 1;
    }

    .sm-order-2 {
        order: 2;
    }

    .sm-order-3 {
        order: 3;
    }

    .sm-order-4 {
        order: 4;
    }

    .sm-flex-column {
        flex-direction: column;
    }
}

/* semua propeti css akan berjalah discreen dibawah 480px */